.exercise-overview {

    height: 100%;

    .title {
      margin-bottom: 35px;
    }
    

    .exercises {
        
        margin: 10px 80px;
        display: flex;
        flex-flow: row wrap;
    }
    .control-buttons {
      display: flex;
      justify-content: center;
      position: fixed;
  
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
  