$breakpoint-tablet: 768px;
$breakpoint-iphone: 320px;

.menu {
    width: inherit;
    


    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    border-bottom: 1px rgba(77, 77, 77, 0.151) solid;

    @media (max-width: $breakpoint-tablet) {
        height: 40%;
    }
    @media (max-width: $breakpoint-iphone) {
        height: 50%;
    }
    .margin-top {
        margin-top: 10px;
    }


    .row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;

      height: 50%;
      .col {
          margin: 20px 38px;

          @media (max-width: $breakpoint-tablet) {
            margin: 15px 100px;
        }
      }
    }

    .exercise-input {
      width: 300px;
    }
    .exercise-button {
      width: 300px;
    }
  }