.trainingday-overview {

	padding: 40px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;

	.start-track {
		display: flex;
		justify-content: center;
		position: fixed;

		
	
		left: 0;
		bottom: 0;
		width: 100%;
		.start-button {
			width: 100px;
			height: 50px;
			background: rgb(46, 96, 172);
			color: whitesmoke;
			font-weight: bold;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 20px;
			cursor: pointer;
			border-radius: 7%;
		}
	}

	.tracked-days {
		width: 100%;
		height: 100%;
		display: flex;
		

		.card {
			margin: 15px;
			width: 100px;
			height: 50px;
			border-radius: 6%;
	
			cursor: pointer;
	
			color: white;
			font-weight: bold;
	
			display: flex;
			justify-content: center;
			align-items: center;
	
			background-color: rgb(46, 96, 172);
		}
	}

}