.workout-dashboard {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    color: rgb(41, 41, 41);
    font-weight: bold;


    .control-bar {
        width: inherit;
        height: 15%;
        background: rgba($color: #ffffff, $alpha: 0.02);
        //background: #1D1F26;
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        border-bottom: 1px rgba(77, 77, 77, 0.151) solid;

        .row {
            display: flex;
            flex-flow: row;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            height: 50%;
        }

        .dummy-control-bar {
            width: 200px;
            height: 35px;
            // background: rgb(119, 0, 255);
            background: rgb(194, 124, 19);
            // border: 1px white solid;
            border-radius: 5%;
        }
    }

    .header {
        width: inherit;
        height: 7%;
        // background: lightgoldenrodyellow;
        display: flex;
        justify-content: center;
        align-items: center;
        //background: rgba(207, 132, 19, 0.01);

        h1 {
            margin: 0;
            color: white;
        }
    }

    .exercises {
        width: inherit;
        height: 78%;
        //background: lightslategray;

        .wrapper-exercises {
            display: flex;
            flex-flow: row wrap;
        }


        .dummy-exercises {
            width: 200px;
            height: 50px;
            margin: 40px 50px;
            background: rgb(207, 132, 19);
        }
    }
}